/* logo section */
 .header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    pading: 0 32px;

 }
 .logo{
    display: flex;
    align-items: center;
    margin-left: 34px;
  
 }
 .navigation{
    display: flex;
    
 }
.nav-li{
    display: inline-block;
    margin-right: 24px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.button{
    display: inline-block;
   background-color: #000000;
   color: #F3F3F3;
   padding: 12px 24px;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border-radius: 32px;
  margin-left: 175.5px;
}
/* logo section complete */

/* second section */

.second-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin: 96px;
    
     
}
.main-text{
    font-size: 56px;
    color: #000000;
    width: 490px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.paragraph1{
    font-size: 18px;
    color: #000000;
    width: 490px;
    margin-top: 24px;
    margin-bottom: 44px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.little-group{
    display: flex;
   
 
    
}
.small-text{
    font-size: 14px;
    color: #000000;
    width: 236px;
   margin-left: 20px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.text-group{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    margin: 70px 130px 70px 165px;
    padding: 230px 0px 0px 165px;
}
.img1{
    width: 490px;
   margin: px 165px 64px;
    
}
/* second section complete */

