/* logo section */
 .header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding: 0 32px;
    background-color: #F3F3F3;

 }
 .logo{
    display: flex;
    align-items: center;
    margin-left: 34px;
  
 }
 .navigation{
    display: flex;
    
 }
.nav-li{
    display: inline-block;
    margin-right: 24px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.button{
    display: inline-block;
   background-color: #000000;
   color: #F3F3F3;
   padding: 12px 24px;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border-radius: 32px;
  margin-left: 175.5px;
}
/* logo section complete */

/* first section */

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 38px 68px;
    margin-bottom: 134px;
    margin-right: 130px;
    margin-top: 134px;
}

 .big-text{
    font-size: 56px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  width: 490px;
  padding-bottom: 24px;
  
 }
 .description-1{
   font-size: 18px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 490px;
  padding-bottom: 44px;
 }
 .paragraph-1{
    font-size: 14px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

 }
 .action-block{
    display: flex;
    align-items: center;
 }

/* first section */

/* second-section */

.features-container{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
   
}

  .child-container{
    width: 30%;
    display: flex;
    

}
.dot{

    width: 12px;
    height: 12px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;

    }
    .second-text{
        font-size: 18px;
         font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

    }
    .second-paragraph{
        font-size: 16px;
         font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

    }
    /* second section */