/* logo section */
 .header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    padding: 0 32px;
    background-color: #F3F3F3;

 }
 .logo{
    display: flex;
    align-items: center;
    margin-left: 34px;
  
 }
 .navigation{
    display: flex;
    
 }
.nav-li{
    display: inline-block;
    margin-right: 24px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.button{
    display: inline-block;
   background-color: #000000;
   color: #F3F3F3;
   padding: 12px 24px;
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  border-radius: 32px;
  margin-left: 175.5px;
}
/* logo section complete */

/* first section */

.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 38px 68px 134px 68px;
    /* margin-bottom: 134px;  
    margin-right: 130px;
    margin-top: 134px; */
}
@media(max-width: 1024px) {
    .main-container{
          flex-direction: column;
            row-gap: 64px;
            
    }
    .text-box{
         width: 100%;
            display: flex;
            flex-direction: row;
    }
    .image-content{
        width: 100%;
    }
}

 .big-text{
    font-size: 56px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  width: 490px;
  padding-bottom: 24px;
  
 }
 .description-1{
   font-size: 18px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 490px;
  padding-bottom: 44px;
 }
 .paragraph-1{
    font-size: 14px;
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;

 }
 .action-block{
    display: flex;
    align-items: center;
 }

/* first section */

/* second-section */

.features-container{
   width: 100%;
    background-color: #F3F3F3;
    padding: 60px 0;
   
}

.features-box{
     display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;


}
  .child-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    

}
.dot{

    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;

    }
    .second-text{
        display: flex;
        align-items: center;
        gap: 16px;
        font-size: 18px;
         font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;

    }
    .second-paragraph{
        font-size: 16px;
         font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

    }
    /* second section */

    /* third section */
    .wraper{
        max-width: 1440px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        column-gap: 133px;
        align-items: center;
    }
    .left-image{
        width: 100%;
        display: block;
    }
    .section-bg{
        background-color: #000000;
        margin-top: 64px;
    }
    .left-wraper{
        width: 503.5px;

    }
    .right-wraper{
          width: 503.5px; 
          color: white;

    }
    @media(max-width: 1024px) {
        .wraper{
            flex-direction: column;
            row-gap: 64px;

        }
        .right-wraper{
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        .left-wraper{
            width: 100%;
        }
    }
@media(max-width: 744px){
    .right-wraper{
        flex-direction: column;
        text-align: center;
    }
    .wraper{
        row-gap: 29px;
    }
}
@media(max-width: 375px ){
    .wraper{
        row-gap: 14px;
    }
}
/* third section */
